*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
:root{
    --bg-header: #255ee9;
    --primary-color: #ffffff;
    --bg-section: #f6f6f6;
    --bg-footer: #23272a;
    --lightblue: #7289da;
}
.debug{
    border: 2px solid red;
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.middle{
    max-width: 70%;
    margin: 0 auto;
}

.bttn{
    border-radius: 15px;
    text-decoration: none;
    padding:5px 15px;
}

.wave{
    height: 100px;
    background-image: url(../img/wave.svg);
    filter: opacity(0.04);
}

.reverse{
    transform: rotate(180deg);
}
/* HOVER EFFECT */
:hover{
    transition: 0.3s ease-in-out;
}
.bttn:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 20px -7px;
}
.layover:hover{
    background-color: rgb(51, 51, 51);
}
.lay-light:hover{
    background-color: #95aaf8;
}
.login:hover, .download:hover{
    color: var(--lightblue);
}
ul li a:hover{
    text-decoration:underline;
    color: var(--primary-color);
}
/* BODY */
body{
    font-family: 'Noto Sans', sans-serif;
}

/* HEADER */
header{
    background-color: var(--bg-header);
}
nav{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
}
ul{
    color: var(--primary-color);
    list-style: none;
    gap:40px;
}
li > a{
    color: var(--primary-color); 
    text-decoration: none;
}

.login{
    font-weight: 600;
    background-color: var(--primary-color);
    color: black;
}
.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: bottom 35% right 0%;
    height:600px;
}

/* SECTION FRONTPAGE */
.frontpage{
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}
.front-title{
    color: var(--primary-color);
    padding-bottom: 50px;
    font-size: 60px;
}
.front-p{
    color: var(--primary-color);
    font-size: 1.4em;
    padding-bottom: 30px;
}

.download{
    font-weight: 600;
    color: black;
    background-color: var(--primary-color);
}
.openbrowser{
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--bg-footer);
}
.download, .openbrowser{
    margin:10px;
    padding:10px 20px;
    border-radius: 20px;
}

/* SECTION RULES */
section{
    padding: 0 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.image{
    width: 60%;    
}
.description{
    width: 40%;
    max-width: 400px;
    padding: 40px 0 0 40px;
}
.description > h1{
    margin: auto;
}
.title-section{
    font-size: 40px;
    margin: 20px 0;
}
article > p{
    padding: 25px 0 0 0;
}
.lightcolor{
    background-color: var(--bg-section)
}
.server, .voice, .fandom{
    padding: 50px 0;
}

/* SECTION VOICE */
.voice{
    flex-flow: row-reverse wrap;
}

/* SECTION TECHNOLOGY */
.technology{
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
}
.banner{
    background-image: url(../img/stars.svg);
    background-size: contain;
    max-width: 600px;
    text-align: center;
}
.banner-container{
    margin: 30px 0 30px 0;
}
.banner-title{
    padding: 20px;
}
.b-down{
    margin: auto;
    background-color: var(--lightblue);
    color: var(--primary-color);
}

/* FOOTER */
footer{
    color: white;
    background-color: var(--bg-footer);
    
}
.f-container{
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
}
.left-footer{
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 15px;
    padding-top: 50px;
}
.slogan{
    color: var(--lightblue);
}
.flag{
    width: 10%;
}
select{
    border: none;
    background: none;
    color: var(--primary-color);
}
.s-icon{
    color: var(--primary-color);
    padding: 5px;
}
.ul-foot{
    margin-top: 50px
}
.ul-foot > li{
    padding: 5px;
}
.li-head{
    color: var(--lightblue);
}
/* ASIDE */
hr{
    background: var(--lightblue);
    color: var(--lightblue);
    border: 0;
    height: 1px;
}
aside{
    background-color: var(--bg-footer);
    justify-content: space-between;
}

.a-container{
    justify-content: space-between;
    padding: 20px 0;
}

.signup{
    color: var(--primary-color);
    background-color: var(--lightblue);
}